github "onevcat/Kingfisher" "master"
github "typelift/Swiftz" "master"
github "ReactiveX/RxSwift" "master"
github "RxSwiftCommunity/RxAlamofire" "master"
github "Moya/Moya" "master"
github "Thoughtbot/Argo" "master"
github "Thoughtbot/Curry" "master"
github "Quick/Quick" "master"
github "Quick/Nimble" "master"
