github "onevcat/Kingfisher" ~> 5.5.0
github "typelift/Swiftz" "master"
github "ReactiveX/RxSwift" "5.0.1"
github "Moya/Moya" ~> 13.0.1
github "Thoughtbot/Argo" "master"
github "Thoughtbot/Curry" "master"
github "realm/realm-cocoa" ~> 3.15.0
github "RxSwiftCommunity/RxRealm" "master"
github "hyperoslo/Hue" ~> 4.0.0
github "robb/Cartography" ~> 4.0.0
github "sendyhalim/OrderedSet" ~> 0.0.6
github "tristanhimmelman/ObjectMapper" ~> 3.4.2
github "bmoliveira/Moya-ObjectMapper" ~> 2.8
